:root {
    --lighttext: #666666;
}

body {
    background-color: #eeeeee;
    font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
  }

.title {
    font-size: 4vw;
    color: #333333;
    width: 66vw;
    padding-top:4vw;
    margin: auto;
    text-align: center;
}

.day-label {
    font-size: 2vw;
    color: var(--lighttext);
    width: 66vw;
    padding-top: 2vw;
    margin: auto;
    text-align: center;
}